.left{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}
.right{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.card1{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 2px 0.5px;
}
.useAge{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 2px 1px; 
}